<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>Title</title>
</head>
<body>
        <div th:fragment="blogheader">
        <div id="headphoto" class="jumbotron jumbotron-fluid">
             <div class="container text-light">
                 <h1 class="display-4">Our Best Blog</h1>
                 <p class="lead">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusantium, aliquam aperiam aspernatur cupiditate dolorum enim id magni maiores, maxime minima nobis perferendis quam quasi quis ratione repellat sequi ut veritatis.</p>
                 <a href="#" class="btn btn-success btn-lg">Try It Today</a>
             </div>
        </div>
        <style>
            #headphoto{
                background: url("https://images.unsplash.com/photo-1472173148041-00294f0814a2?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=750&q=80");
                background-position: center;
            }
        </style>
        </div>
</body>
</html>